@font-face {
    font-family: JetBrain;
    src: url(../../assets/fonts/JetBrainsMono/JetBrainsMono-Regular.ttf);
}

@font-face {
    font-family: MulishLight;
    src: url(../../assets/fonts/Mulish/Mulish-Light.ttf);
}

@font-face {
    font-family: Mulish;
    src: url(../../assets/fonts/Mulish/Mulish-Regular.ttf);
}

@font-face {
    font-family: MulishExtraBold;
    src: url(../../assets/fonts/Mulish/Mulish-ExtraBold.ttf);
}
