// Color palette
$bg-clr: linear-gradient(to right, #fd6585 0%, #ffd3a5 90%);
$bg-hover: linear-gradient(to right, #ffd3a5 0%, #fd6585 90%);
$txt-clr: #161b40;
$clr1: darken(#fd6585, 10%);
$shadow-clr: #fd6585;

//Box shadow
$shadow: 0px 5px 20px -1px rgb(219, 219, 219);
$inner-shadow: 0px 10px 10px -10px #e0e0e0;
